@import '_shared';
@import 'coupon';
@import 'popup';
@import 'double_eleven';
@import 'new_in';
@import 'page_article';
@import 'red_envelope';
@import 'spring_festival';

.wechat_share_logo{
	height: 0;
	width: 0;
	position: absolute;
}
a {
    background: transparent;
    text-decoration: none;
}
a:active, a:hover, a:focus {
	outline: 0;
	text-decoration: none;
}

.spring-festival-tips{
	top: 60px;
	width: 92%;
	height: auto;
	margin: 0px auto 50px;
	position: relative;
	top: 0px;
	overflow: hidden;
	img{
		width: 100%;
		height: auto;
	}
}
