.page-coupon{
	width: 100%;
	max-width: 500px;
	margin: 0px auto;
	min-height: 800px;
    background-size: 100% auto;
	padding-top: 10px;
	padding-bottom: 20px;
}

.coupon{
	width: 360px;
	height: 360px;
	margin: 0px auto;
	position: relative;
	padding: 8px;
	background: url("../images/coupon-wednesday.jpg") center top no-repeat;
		background-size: 100% auto;
		background-position: center center;
    overflow: hidden;
}

.count-down{
	text-align: center;
	p.title{
		font-size: 20px;
		font-weight: bold;
	}
	p.breath-down{
		margin-bottom: 20px;
	}
	p.value{
		font-size: 16px;
		margin-top: 10px
	}
}


.phone-field{
	width: 100%;
	height: 120px;
	margin-top: 50px;
	.wrapper{
		width: 80%;
		margin: 0px auto;
		height: 45px;
		background-color: #fff;
		position: relative;
		border: 2px solid #333;
		padding-left: 60px;
		padding-right: 60px;
		&:before{
			content: "+";
			display: inline-block;
			font-size: 18px;
			position: absolute;
			top: 6px;
			left: 8px;
		}
	}
	.button{
		position: absolute;
		top: -2px;
		right: -2px;
		width: 60px;
		height: 45px;
		background-color: #000;
		color: #fff;
		line-height: 45px;
		text-align: center;
		cursor: pointer;
		border: 2px solid #333;
		border-left: none;
		&.grey{
			background-color: #ddd;
			color: #999;
			border: 2px solid #333;
			border-left: none;
		}
	}
	.country_code{
		display: inline-block;
		position: absolute;
		top: 6px;
		left: 20px;
		height: 25px;
		width: 40px;
		input{
			width: 100%;
			outline: none;
			border: none;
			text-align: center;
			font-size: 15px;
		}
		border-right: 1px solid #333;
	}
	.phone{
		height: 40px;
		width: 100%;
		display: inline-block;
		outline: none;
		border: none;
		padding-left: 8px;
		font-size: 15px;
	}
}

.toc{
	width: 80%;
	height: auto;
	overflow: hidden;
	margin: 20px auto 50px;
	font-family: 'Microsoft YaHei',arial,tahoma,sans-serif;
	.title{
		text-align: center;
		position: relative;
		margin-bottom: 30px;
		.line{
			position: absolute;
			display: inline-block;
			width: 100%;
			height: 3px;
			border-bottom: 1px solid #333;
			top: 8px;
			left: 0px;
		}
		.value{
			display: inline-block;
			font-size: 18px;
			background-color: #fff;
			position: relative;
			padding: 0px 20px;
		}
	}
	.toc-item{
		padding-left: 30px;
		position: relative;
		display: inline-block;
		margin-bottom: 15px;
		color: #444;
		.list-number{
			position: absolute;
		    top: 4px;
		    left: 0px;
		    width: 12px;
		    height: 12px;
		    background-color: #ddd;
		    border-radius: 50%;
		    display: inline-block;
		    margin-right: 15px;
		    line-height: 7px;
		    padding-left: 6px;
		}
	}
}

.logo{
    width: 100%;
    height: 40px;
    background: url("../images/logo.png") center center no-repeat;
    background-size: auto 100%;
    margin: 60px auto 30px;
}