.page-2ccm-article{
    max-width: 500px;
    margin: 0px auto;
    padding: 0px 20px 25px;
    color: #333;
}

.page-offwhite-campaign{
  max-width: 500px;
  margin: 0px auto;
  height: 100%;
  padding: 0px 20px 25px;
  background-color:#eaf4ec;
  .head-image-offwhite{
    width: 100%;
    height: 530px;
    background: url("http://resources.2ccm.net/campaign/offwhite-campaign/campaign.jpg") top center no-repeat;
    background-size: 100% auto;
  }
}

.article-title{
    font-family: PingFang SC,Lantinghei SC,Helvetica Neue,Helvetica,Arial,Microsoft YaHei,\\5FAE\8F6F\96C5\9ED1,STHeitiSC-Light,simsun,\\5B8B\4F53,WenQuanYi Zen Hei,WenQuanYi Micro Hei,"sans-serif";
    color: #333;
    font-size: 22px;
    font-weight: 600;
    margin: 28px 15px;
    text-align: center;
    line-height: 36px;
}

.article-video{
    margin-bottom: 25px;
}
.carouselImg{
  margin-bottom: 25px;
}

.article-intro{
    width: 100%;
    height: auto;
    background: #f8f8f8;
    padding: 20px 20px 20px 50px;
    margin-bottom: 25px;
    position: relative;
    color: #888;
    font-size: 16px;
    &::before{
        content: "â";
        font-size: 30px;
        position: absolute;
        top: 15px;
        left: 15px;
        color: #333;
    }
}

.article-paragraph{
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 25px;
}

.article-bottom-title{
  max-width: 100%!important;
  word-wrap: break-word!important;
  text-align: right;
  padding-top: 10px;
  .content{
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    color: rgb(178,178,178);
    &:after{
      display: inline-block;
      margin-left: 4px;
      vertical-align: middle;
      content: '';
      width: 3px;
      height: 15px;
      background-color: rgb(136,136,136);
    }
  }
}

.article-paragraph-img{
  width: 100%;
  height: auto;
  min-height: 300px;
  margin-bottom: 25px;
  &>img{
    width: 100%;
    vertical-align: top;
  }
}

.article-end{
  .article-end-logo{
    display: block;
    margin: 0 auto;
  }
}
