.page-new-year{
	width: 100%;
	max-width: 420px;
	margin: 0px auto;
	min-height: 800px;
	padding-bottom: 80px;
	background-color: #b21e2f;
}

.head-image{
	width: 100%;
	height: 450px;
	margin: 0px auto;
	position: relative;
  background: url("http://resources.2ccm.net/campaign/new-year/head-image.jpg") top center no-repeat;
  background-size: 100% auto;
  overflow: hidden;
}




.page-new-year{
	.count-down{
		text-align: center;
		p.title{
			font-size: 20px;
			font-weight: bold;
			color: #b21e2f;
		}
		p.value{
			width: 90%;
			font-size: 16px;
			margin: 10px auto;
		}
	}
	.breath-top{
		margin-top: 40px!important;
	}

	.main-section{
		width: 100%;
		height: auto;
		overflow: hidden;
		margin-top: 5px; 
		.share-text{
			width: 100%;
			text-align: center;
			padding: 0px 20px;
			font-size: 16px;
			color: #b21e2f;
			margin-bottom: 20px;
			font-weight: bold;
		}
		.format-error{
			padding: 10px 22px;
			color: #333;
			font-size: 11px;
		}
		.wrapper{
			width: 88%;
			margin: 0px auto;
			height: 45px;
			background-color: #fff;
			position: relative;
			border: 2px solid #b21e2f;
			padding-left: 60px;
			padding-right: 60px;
			&:before{
				content: "+";
				display: inline-block;
				font-size: 18px;
				position: absolute;
				top: 6px;
				left: 6px;
			}
		}
		.button{
			position: absolute;
			top: -2px;
			right: -2px;
			width: 80px;
			height: 45px;
			background-color: #b21e2f;
			color: #fff;
			line-height: 45px;
			text-align: center;
			cursor: pointer;
			border: 2px solid #b21e2f;
			border-left: none;
			&.grey{
				background-color: #e9e9e9;
				color: #999;
				border: 2px solid #b21e2f;
				border-left: none;
			}
		}
		.country_code{
			display: inline-block;
			position: absolute;
			top: 0px;
			left: 15px;
			height: 40px;
			width: 40px;
			input{
				width: 100%;
				height: 100%;
				outline: none;
				border: none;
				text-align: center;
				font-size: 15px;
			}
			border-right: 1px solid #b21e2f;
		}
		.phone{
			height: 40px;
			width: 100%;
			display: inline-block;
			outline: none;
			border: none;
			padding-left: 8px;
			font-size: 15px;
		}
		&.result-message{
			width: 100%;
			margin: 0px auto;
			position: relative;
			.box-content{
				padding: 0px 40px;
			}
			.goto-button{
				width: 100%;
				margin: 20px auto 10px;
				height: 40px;
				background-color: #b21e2f;
				color: #fff;
				display: inline-block;
				text-align: center;
				line-height: 40px;
				position: relative;
				font-size: 14px;
			}
			p.title{
				font-size: 20px;
				font-weight: bold;
				color: #b21e2f;
			}
			p.value{
				font-size: 13px;
				margin-top: 5px
			}
		}
	}
	.toc{
		padding: 0px 30px;
		.title{
			position: relative;
			.left-line{
				width: 40px;
				height: 1px;
				background-color: #333;
				position: absolute;
				top: 11px;
				left: 10px;
			}
			.right-line{
				width: 40px;
				height: 1px;
				background-color: #333;
				position: absolute;
				top: 11px;
				right: 10px;
			}
		}
		.title .value {
				background: none!important;
		}
		.toc-item .list-number {
				background-color: #ebdbdb;
		}
	}
}